:root {
  --padding-x: 2rem;
  --color-danger: rgb(239, 68, 68);
  --color-white: #f0f0f0;
  --borderWidth-thicker: max(4px, 0.25rem);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-white);
  font-family: Arial, sans-serif;
}
