#app-toolbar {
  padding: 1rem var(--padding-x);
  background-color: rgb(29 78 216 / 1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app-toolbar h2 {
  font-size: 1.75rem;
}

#reload {
  width: 30px;
  height: 30px;
  background: url("../assets/images/reload.svg") no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
