:root {
  --padding-x: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#app-toolbar {
  padding: 1rem var(--padding-x);
  background-color: rgb(29 78 216 / 1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app-toolbar h2 {
  font-size: 1.75rem;
}

.reload {
  width: 30px;
  height: 30px;
  background: url("../assets/images/reload.svg") no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes reload {
  100% {
    transform: rotate(1turn);
  }
}

main {
  padding: var(--padding-x);
}

#cards-user {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
}

.card-user {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-user h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333333;
}

.card-user p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #666666;
}

.card-user p:last-child {
  margin-bottom: 0;
}